		<!-- Static navbar -->
		<header>
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
				  <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>                        
					</button>
					
					<a class="navbar-brand" href="#home"><img src="images/cbdigital-group-logo-no-bg.svg" width="125" alt="CBDigital"></a>
					
				  </div>
				  <div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav navbar-right">
						  <li><a href="#home">Home</a></li>
						  <li><a href="#mission">Mission</a></li>
						  <li><a href="#about">About Us</a></li>
						  <li><a href="#experise">Experise</a></li>
						  <li><a href="#communications">Communications</a></li>
						  <li><a href="#web">Web &amp; Apps</a></li>
						  <li><a href="#videos">Videos</a></li>
						  <li><a href="#contact">Contact</a></li>
						  <li class="dropdown"> 
						  <ul class="dropdown-menu">
					  </ul>
					  </li>
					</ul>
				  </div>
				</div>
			  </nav>
		</header>