		<!-- Static navbar -->
		<header>
			<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
				<a class="navbar-brand" href="./"><img src="./img/cb-wh-new.svg" height="40" alt="CB Digital"/></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
			
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
					<a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						BRANDS
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="./crestron"><img src="./img/crestron_logo.png" height="60" alt="Crestron"/></a>
						<a class="dropdown-item" href="./lutron"><img src="./img/lutron-logo.png" height="60" alt="Lutron"/></a>
						<a class="dropdown-item" href="./sonos"><img src="./img/sonos-logo.jpg" height="60" alt="Sonos"/></a>
						<a class="dropdown-item" href="./rti"><img src="./img/rti_logo.png" height="60" alt="RTI"/></a>
						<a class="dropdown-item" href="./rako"><img src="./img/rako-logo.png" height="60" alt="Rako Wireless"/></a>
						<a class="dropdown-item" href="./ruckus-wireless"><img src="./img/ruckus_logo.png" height="60" alt="Ruckus Wireless"/></a>
						<a class="dropdown-item" href="./seatel"><img src="./img/seatel_logo.png" height="60" alt="SeaTel"/></a>
						<a class="dropdown-item" href="./wryrestorm"><img src="./img/wyrestorm-logo.png" height="60" alt="Wryestorm"/></a>
						<a class="dropdown-item" href="./sonos"><img src="./img/sonos-logo.jpg" height="60" alt="CB Digital"/></a>
						</div>
					<li class="nav-item">
						<a class="nav-link" href="#services">SERVICES</a>
					</li>
					<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						WHO
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<div class="container-link"> 
						<img src="./img/apartment-sw1-lounge.png" height="75" alt="CB Digital"/></a><a class="dropdown-item" href="./about">ABOUT US</a>
					</div>
						<div class="container-link"> 
						<img src="./img/apartment-sw1-lounge.png" height="75" alt="CB Digital"/></a><a class="dropdown-item" href="./journey">THE JOURNEY</a>
					</div>	
						<div class="container-link">
						<img src="./img/apartment-sw1-lounge.png" height="75" alt="CB Digital"/></a><a class="dropdown-item" href="./clients">CLIENTS</a>
					</div>
					</div>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="#contact">CONTACT</a>
					</li>
				</ul>
				</div>
			</nav>
		</header>