		<!-- Static navbar -->
		<header>
		<!--<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>-->
			<!--<h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>-->
			     <!-- <nav class="navbar navbar-inverse navbar-fixed-top topnav" >
				      <div class="container">
			          <div class="navbar-header ">
			            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				              <span class="sr-only">Toggle navigation</span>
				              <span class="icon-bar"></span>
				              <span class="icon-bar"></span>
				              <span class="icon-bar"></span>
			            </button>
			            <a class="navbar-brand" href="./"><img src="./img/cb-wh-new.svg" height="40" alt="CB Digital"/></a>
			          </div>
			          <div id="navbar" class="navbar-collapse collapse">
			            <ul class="nav navbar-nav  navbar-right">
							<li><a href="./brands">Brands</a></li>
							<li><a href="./projects">Projects</a></li>
							<li><a href="./services">Services</a></li>
			                <ul class="dropdown-menu" role="menu">
			                </ul>
			                  <li class="dropdown">
			                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Who<span class="caret"></span></a>
			                <ul class="dropdown-menu" role="menu">
			                  <li><a href="./about">About Us</a></li>
			                  <li><a href="./journey">The Journey</a></li>
			                  <li><a href="./clients">Clients</a></li>
			                </ul>
			                <li><a href="./contact">Contact</a></li>
			            </ul>
			        </div>
			    </div>
			</nav>-->

<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
	<a class="navbar-brand" href="./"><img src="./img/cb-wh-new.svg" height="40" alt="CB Digital"/></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
  
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item active">
		  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="./brands">Brands</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="./services">Services</a>
		  </li>
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Who
		  </a>
		  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="./about">About Us</a><img src="./img/cb-wh-new.svg" height="40" alt="CB Digital"/></a>
			<a class="dropdown-item" href="./journey">The Journey</a><img src="./img/cb-wh-new.svg" height="40" alt="CB Digital"/></a>
			<a class="dropdown-item" href="./clients">Clients</a><img src="./img/cb-wh-new.svg" height="40" alt="CB Digital"/></a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">Something else here</a>
		  </div>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="./contact">Contact</a>
		</li>
	  </ul>
	</div>
</nav>
</header>